<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="control">
      <figure class="rounded">
        <%= image_tag contact_image(contact), class: "rounded", width: "100" %>
      </figure>
      <%= form.label :contact_image %>
      <%= form.file_field :contact_image, class: "form-control-file" %>
    </div>
  </div>

  <hr class="mt-6 border" />

  <h3 id="test">Personal Details</h3>

  <div class="form-group">
    <%= form.label "First Name*" %>
    <%= form.text_field :first_name, class: "form-control", required: true, placeholder: "John" %>
  </div>

  <div class="form-group">
    <%= form.label "Last Name*" %>
    <%= form.text_field :last_name, class: "form-control", required: true, placeholder: "Smith" %>
  </div>

  <hr class="mt-6 border" />

  <h3>Contact</h3>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "form-control", placeholder: "801-555-1234" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "John.Smith@email.com" %>
  </div>

  <hr class="mt-6 border" />

  <h3>Address</h3>

  <div class="form-group">
    <%= form.label :street_address %>
    <%= form.text_field :street_address, class: "form-control", placeholder: "123 N 456 S" %>
  </div>

   <div class="form-group">
    <%= form.label :street_address_2 %>
    <%= form.text_field :street_address_2, class: "form-control", placeholder: "Apt A" %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control", placeholder: "Hometown City" %>
  </div>

  <div class="form-group">
    <%= form.label :state %>
    <%= form.text_field :state, class: "form-control", placeholder: "Utah" %>
  </div>

  <div class="form-group">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, class: "form-control", placeholder: "84123" %>
  </div>

  <div class="form-group">
    <%= form.label :country %>
    <%= form.text_field :country, class: "form-control", placeholder: "United States" %>
  </div>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>

<script>

  const test = document.getElementById("test");
  test.addEventListener("click", () => {
    fetch('https://smartystreets.com/products/single-address?street=86%20Frontage%20Road&street2=&city=Belmont&state=MA&zipcode=&address-type=us-street-components', {
      headers: {
        'Access-Control-Allow-Origin': '*'
      }
    })
      .then(res => console.log(res))
      //.then(data => console.log(data)); 
  })

  
  

</script>